@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-gray-100 text-gray-900 min-h-screen;
}

a {
  @apply text-brand-500 hover:text-brand-500/80;
}
